* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

body {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Write CSS here ===================== */
h2 {
  font-size: 30px;
  color: gray;
  text-transform: uppercase;
}

h2::after {
  content: "";
  color: #f63854;
  display: block;
  border-bottom: solid;
  margin: 30px 65px;
}